<a href="https://colab.research.google.com/github/Fatimazahra13/Fatimazahra13/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")
print(2+3)
print("We are learning Python")

Hello World
5
We are learning Python

In [ ]:
fruits = ['apple','banana']
fruits.insert(3,'melon')
fruits.insert(4,'grapes')
fruits.insert(5,'strawberry')
print(*fruits)
is_grapes_there= 'apple' in fruits
print("Is apple there in list?:",is_grapes_there)

apple banana melon grapes strawberry
Is apple there in list?: True

In [ ]:
list = [10,20,30,40,50,60]
print("The maximum number in the list is:",max(list))

The maximum number in the list is: 60

# This is my first jupyter notebook

In [ ]:
from collections import deque

class Queue:
    def __init__(self): # Corrected to __init__
        self.items = []

    def enque(self, item):
        self.items.append(item)  # Use self.items to access the list

    def deque(self):
        if not self.is_empty():
            return self.items.pop(0)
        else:
            return None

    def peek(self):
        if not self.is_empty():
            return self.items[0]
        else:
            return None

    def is_empty(self):  # Added self as argument
        return len(self.items) == 0

queue = Queue()
queue.enque(1)  # Call enque instead of enqueue
queue.enque(2)  # Call enque instead of enqueue
queue.enque(3)  # Call enque instead of enqueue
print(queue.deque())
print(queue.peek())
print(queue.is_empty())

1
2
False

# **Starting pandas and numpy of innovista**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
even_num = pd.Series([2,4,6,8,10,12,14,16,18,20])

print(even_num)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [ ]:
# Encapsulation and data hiding
class BankAccount:
    def __init__(self, account_number, account_holder_name, initial_balance):
        self.__account_number = account_number
        self.__account_holder_name = account_holder_name
        self.__account_balance = initial_balance
    def get_balance(self):
        return self.__account_balance

    def deposit(self, amount):
        self.__account_balance += amount
account = BankAccount("123456789", "Fatima Zahra", 1000.0)
print(account.get_balance())
account.deposit(500.0)
print(account.get_balance())

1000.0
1500.0

# **Creating data series using pandas**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:

import pandas as pd
data = {'Name':['Fatima','Nayab','Abdullah'], 'Age':[15,13,7]}
df = pd.DataFrame(data)
df
print("Describing:",df.describe())

Describing:              Age
count   3.000000
mean   11.666667
std     4.163332
min     7.000000
25%    10.000000
50%    13.000000
75%    14.000000
max    15.000000

# **Using NumPy**

In [ ]:
import numpy as np
# Creating an Array
arr = np.array([10,20,30,40,50])

# Using Basic Operations
print(arr+10)
print(arr/10)
print(arr-10)
print(arr*10)

[20 30 40 50 60]
[1. 2. 3. 4. 5.]
[ 0 10 20 30 40]
[100 200 300 400 500]

In [ ]:
# prompt: Creating class for vehicles

class Vehicle:
    def __init__(self, make, model, year, color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color

    def start_engine(self):
        print("Engine started.")

    def stop_engine(self):
        print("Engine stopped.")


class Car(Vehicle):
    def __init__(self, make, model, year, color, num_doors):
        super().__init__(make, model, year, color)
        self.num_doors = num_doors

    def honk(self):
        print("Beep beep!")


class Motorcycle(Vehicle):
    def __init__(self, make, model, year, color, has_sidecar):
        super().__init__(make, model, year, color)
        self.has_sidecar = has_sidecar

    def rev_engine(self):
        print("Vroom vroom!")


# Example usage
my_car = Car("Toyota", "Camry", 2023, "Red", 4)
my_motorcycle = Motorcycle("Harley-Davidson", "Sportster", 2022, "Black", False)

print(my_car.make, my_car.model)
my_car.start_engine()
my_car.honk()
my_car.stop_engine()

print(my_motorcycle.make, my_motorcycle.model)
my_motorcycle.start_engine()
my_motorcycle.rev_engine()
my_motorcycle.stop_engine()

Toyota Camry
Engine started.
Beep beep!
Engine stopped.
Harley-Davidson Sportster
Engine started.
Vroom vroom!
Engine stopped.

# **Creating class related to vehicles**

In [ ]:
class vehicle:
    def __init__(self,make,model,colour,year):
        self.make = make
        self.model = model
        self.colour = colour
        self.year = year

    def honk(self):
        print("Honk Honk!")
    def vroom(self):
        print("Vroom Vroom!")
    def description(self):
        print(f"This is", self.year,self.colour,self.make,self.model)
myCar= vehicle("Toyota", "Camry", "Red", "2024")
myCar.description()

myCar.honk()

myBike = vehicle("Honda", "CD-70", "Blue", 2017)
myBike.description()
myBike.vroom()

This is 2024 Red Toyota Camry
Honk Honk!
This is 2017 Blue Honda CD-70
Vroom Vroom!

# ***Creating Bank account class***

In [ ]:
import openpyxl
import pandas as pd
import numpy as np
df = pd.Series([1,2,3,4,5])
df.to_excel()

TypeError: NDFrame.to_excel() missing 1 required positional argument: 'excel_writer'

In [ ]:
import openpyxl
import pandas as pd
import numpy as np

# Create a Pandas Series
df = pd.Series([1, 2, 3, 4, 5])

# Export the Series to an Excel file using to_excel
# Specify the file path and sheet name
df.to_excel('output.xlsx', sheet_name='Sheet1')
data = pd.read_excel('output.xlsx')
data
data.columns= ('col a','col b')
data.describe()

          col a     col b
count  5.000000  5.000000
mean   2.000000  3.000000
std    1.581139  1.581139
min    0.000000  1.000000
25%    1.000000  2.000000
50%    2.000000  3.000000
75%    3.000000  4.000000
max    4.000000  5.000000